
<% if flash %>
    <%= debug flash %>
<!--<#% flash[:flashes].each do |msg| -%>
        <#%= msg.inspect %>
    <#%= content_tag :div, msg, :class, 'alert alert-info' %>
<#% end %>-->
    <% end %>

<!--<h1>Landing#index</h1>
<p>Find me in app/views/landing/index.html.erb</p>-->
