<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Table name</th>
      <th>Description</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    <% @tables.each do |table| %>
      <tr scope="row">
        <th><%= table.id %></th>
        <td><%= table.name %></td>
        <td><%= table.description %></td>
        <td><% if session[:user_id] %><%= link_to 'Reserve', new_reservation_path + '?table_id=' + table.id.to_s %><% else %>"You should be logged in to reserve a table"<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>